<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="form-group row">
</head>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>

<div class="container">
  <!--COMPANY OVERVIEW-->
  <div class ="container" id ="iib_company_overview">
    <div class ="row justify-content-center">
      <h3><strong>Company Overview</strong></h3>
    </div>
    <div class ="row align-items-start">
      <div class ="col-8">
        <h3>[TICKER] [COMPANY NAME]</h3>
        <h5>Description:</h5>
        <p>Lorem Ipsum Text all the way now 1 2 3 weee come from a company famous in BMT, come from a very special family.</p>
      </div>
      <div class ="col-4">
        <h6>Market Cap: <strong>$XX Mil</strong></h6>
        <h6>CEO: <strong>Mike Wazowzski</strong></h6>
        <h6>Founded: <strong>1969</strong></h6>
        <h6>Industry: <strong>Banking & Finance</strong></h6>
      </div>
    </div>
  </div>  
  <!--COMPANY FUNDAMENTALS-->
  <div class ="container" id ="iib_company_valuation">
    <div class ="row justify-content-center">
      <h3><strong>Valuation</strong></h3>
    </div>
    <div class ="row align-items-start">
      <div class ="col-8">
        <h4>47% Undervalued to fair value</h4>
        <canvas id="fair-value-chart" width="800" height="200"></canvas>

      </div>
      <div class ="col">
        <div class="row">
          <div class="col-4">
            <h4>Company</h4>
            <h6>PE:<strong>6.9</strong></h6>
            <h6>PEG:<strong>7.2</strong></h6>
            <h6>PB:<strong>4.2</strong></h6>

          </div>
          <div class="col-4">
            <h4>Industry</h4>
            <h6>PE:<strong>6.9</strong></h6>
            <h6>PEG:<strong>7.2</strong></h6>
            <h6>PB:<strong>4.2</strong></h6>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  <div class ="container" id ="iib_company_fundamentals">
    <div class ="row justify-content-center">
      <h3><strong><br>Fundamentals</strong></h3>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="ROE-chart" width="800" height="300"></canvas>
          </div>
          <div class="col-6">
            <canvas id="EPS-chart" width="800" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="revenue-chart" width="800" height="300"></canvas>
          </div>
          <div class="col-6">
            <canvas id="DIV-chart" width="800" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="CASHFLOW-chart" width="800" height="300"></canvas>
          </div>
          <div class="col-6">
            <canvas id="DEBT-chart" width="800" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>    

  <div class ="container" id ="iib_business-operation">
    <div class ="row justify-content-center">
      <h3><strong><br>Effective Business Operation</strong></h3>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="RETAINED-chart" width="800" height="300"></canvas>
          </div>
          <div class="col-6">
            <canvas id="ROIC-chart" width="800" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="MARGIN-chart" width="800" height="300"></canvas>
          </div>
          <div class="col-6">
            <canvas id="NETTANGIBLE-chart" width="800" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="CAPEX-NETINCOME-chart" width="800" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class ="container" id ="iib_balance-sheet">
    <div class ="row justify-content-center">
      <h3><strong>Balance Sheet</strong></h3>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="LONGTERM-BALANCE-chart" width="800" height="400"></canvas>
          </div>
          <div class="col-6">
            <canvas id="SHORTTERM-BALANCE-chart" width="800" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class ="row align-items-start">
      <div class ="col">
        <div class="row">
          <div class="col-6">
            <canvas id="DEBT-EQUITY-chart" width="800" height="300"></canvas>
          </div>
          <div class="col-6">
            <canvas id="BALANCE-SHEET-chart" width="800" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <canvas id="earnings-chart" width="800" height="200"></canvas>
  <canvas id="ROE-chart" width="800" height="200"></canvas>
  <canvas id="EPS-chart" width="800" height="200"></canvas>
  <canvas id="DIV-chart" width="800" height="200"></canvas>
  <canvas id="ROE-chart" width="800" height="200"></canvas>
  <canvas id="CASHFLOW-chart" width="800" height="200"></canvas>
  <canvas id="DEBT-chart" width="800" height="200"></canvas>
  <canvas id="RETAINED-chart" width="800" height="200"></canvas>
  <canvas id="ROIC-chart" width="800" height="200"></canvas>
  <canvas id="MARGIN-chart" width="800" height="200"></canvas>
  <canvas id="NETTANGIBLE-chart" width="800" height="200"></canvas>
  <canvas id="CAPEX-NETINCOME-chart" width="800" height="200"></canvas>
  <canvas id="LONGTERM-BALANCE-chart" width="800" height="200"></canvas>
  <canvas id="SHORTTERM-BALANCE" width="800" height="200"></canvas>
  <canvas id="DEBT-EQUITY-chart" width="800" height="200"></canvas>
  <canvas id="BALANCE-SHEET-chart" width="800" height="200"></canvas>
</div>
</html>