<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
  </head>
  <body>

    <div class="container">
      <h1 class="mb-4">New Screener</h1>

      
<!-- Default dropright button -->
<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
    Add Filters
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" id="alpha">First Filter</a>
    <a class="dropdown-item" id= "bravo">Second Filter</a>
    <a class="dropdown-item" id="charlie">Third Filter</a>
  </div>
</div>

  <div id="first-filter"></div>

    <form action="/screeners" method="POST">
      <%- include('_filter_fields') %>
      <%- include('_filter_choices') %>
    </form>



  </div>
  <script src="/public/js/newscript.js"></script>

  </body>

</html>
